@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

body,
html {
  font-family: Inter;
  color: #222;
  scroll-behavior: smooth;
}

.header {
  margin-top: 218px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.header h1 {
  font-size: 40px;
  font-weight: 700;
}
.header ul {
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header li {
  padding: 5px;
  border: 1px solid #356875;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(38, 46, 43, 0.1490196078);
          box-shadow: 0px 4px 6px 0px rgba(38, 46, 43, 0.1490196078);
}
.header a {
  min-width: 180px;
  min-height: 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  line-height: 130%;
}

.main {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__cards-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 373px;
  padding: 25px;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(38, 46, 43, 0.1490196078);
          box-shadow: 0px 4px 6px 0px rgba(38, 46, 43, 0.1490196078);
}
.main__cards-card h2 {
  font-size: 40px;
  font-weight: 700;
  color: #356875;
  margin-bottom: 32px;
  line-height: 32px;
}
.main__cards-card h3 {
  color: rgba(34, 34, 34, 0.5);
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: line-through;
  margin-bottom: 20px;
}
.main__cards-card h4 {
  color: #222;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}
.main__cards-card h5 {
  color: #222;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 53px;
}
.main__cards-card-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.main__cards-card-btns button:first-child {
  background: #356875;
  color: white;
  padding: 21.5px 31.5px;
  font-size: 14px;
  font-weight: 700;
}
.main__cards-card-btns button:last-child {
  background: white;
  color: #356875;
  padding: 21.5px 63.5px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #356875;
}
.main__cards-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  margin-top: 19px;
}
.main__cards-card-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: #222;
}
.main__cards-card-list-info-img {
  width: 34px;
  height: 34px;
}
.main__cards-card-list-info-img1 {
  background: url("/img/card/firstListIcon.png") no-repeat;
}
.main__cards-card-list-info-img2 {
  background: url("/img/card/secondListIcon.png") no-repeat;
}
.main__cards-card-list-info-img3 {
  background: url("/img/card/thirdListIcon.png") no-repeat;
}
.main__cards-card-list-info-img4 {
  background: url("/img/card/fourthListIcon.png") no-repeat;
}
.main__cards-card-list1 p {
  max-width: 182px;
}
.main__cards-card-list2 p {
  max-width: 150px;
}
.main__cards-card-list3 p {
  max-width: 149px;
}
.main__cards-card-list4 p {
  max-width: 127px;
}
.main__cards-card-car {
  margin-top: 8px;
  width: 298px;
  height: 218px;
  background: url("/img/card/maneCar.png") no-repeat;
}
.main__cards-card-colors {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.main__cards-card-colors-info {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.main__cards-card-colors1 {
  background: #347f93;
}
.main__cards-card-colors2 {
  background: #72797c;
}
.main__cards-card-colors3 {
  background: #d9d9d9;
}
.main__cards-card-colors4 {
  background: #0b0b0b;
}
.main__cards-card-colors5 {
  border: 1px solid #0b0b0b;
}
.main__cards-card-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11px;
  margin-left: -70px;
}
.main__cards-card-mini-img {
  width: 88.104px;
  height: 59px;
}
.main__cards-card-mini-1 {
  background: url("/img/card/miniCar1.png") no-repeat;
}
.main__cards-card-mini-2 {
  background: url("/img/card/miniCar2.png") no-repeat;
}
.main__cards-card-mini-3 {
  background: url("/img/card/miniCar3.png") no-repeat;
}
.main__cards-card-mini-4 {
  background: url("/img/card/miniCar4.png") no-repeat;
}
.main__cards-card-mini div {
  cursor: pointer;
}
.main__cards-card-bg {
  width: 615.738px;
  height: 204px;
  background: url("/img/card/bgCar.png") no-repeat;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: -1;
}
.main__more button {
  background: none;
  color: #356875;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration-line: underline;
}

@media (max-width: 1919px) {
  .container {
    max-width: 962px;
  }
  .header {
    margin-bottom: 60px;
    gap: 30px;
  }
  .header h1 {
    font-size: 36px;
    font-weight: 700;
  }
  .header ul {
    max-width: 962px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 19px;
  }
  .header a {
    min-width: 168px;
  }
  .main {
    padding-bottom: 41px;
    gap: 30px;
  }
  .main__cards {
    gap: 30px;
  }
  .main__cards-card {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    max-height: 332px;
    padding: 12px;
  }
  .main__cards-card h2 {
    margin-top: 22px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .main__cards-card h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .main__cards-card h4 {
    font-size: 36px;
    font-weight: 700;
  }
  .main__cards-card h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 43px;
  }
  .main__cards-card-btns button:first-child {
    padding: 16.5px 5.5px;
  }
  .main__cards-card-btns button:last-child {
    padding: 16.5px 33.5px;
  }
  .main__cards-card-list {
    gap: 32px;
    margin-top: 68px;
  }
  .main__cards-card-list-info {
    font-size: 14px;
    font-weight: 700;
  }
  .main__cards-card-list-info-img {
    margin-left: 5px;
  }
  .main__cards-card-car {
    margin-left: -50px;
    margin-top: 27px;
    width: 322.478px;
    height: 180px;
    background: url("/img/secondResol/maneCar.png") no-repeat;
  }
  .main__cards-card-colors {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 27px;
  }
  .main__cards-card-mini {
    gap: 7px;
    margin-left: -27px;
  }
  .main__cards-card-mini-img {
    width: 67.859px;
    height: 45px;
  }
  .main__cards-card-mini-1 {
    background: url("/img/secondResol/miniCar1.png") no-repeat;
  }
  .main__cards-card-mini-2 {
    background: url("/img/secondResol/miniCar2.png") no-repeat;
  }
  .main__cards-card-mini-3 {
    background: url("/img/secondResol/miniCar3.png") no-repeat;
  }
  .main__cards-card-mini-4 {
    background: url("/img/secondResol/miniCar4.png") no-repeat;
  }
  .main__cards-card-bg {
    width: 495.969px;
    height: 204px;
    background: url("/img/secondResol/carBg.png") no-repeat;
    top: 12px;
    right: 12px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 320px;
  }
  .header {
    margin-top: 100px;
    margin-bottom: 40px;
    gap: 20px;
  }
  .header h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .header nav {
    width: 100%;
  }
  .header ul {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 270px;
    gap: 20px;
  }
  .header a {
    min-width: 140px;
    min-height: 21px;
    font-size: 16px;
    font-weight: 400;
  }
  .main {
    padding-bottom: 30px;
    gap: 20px;
  }
  .main__cards {
    gap: 30px;
  }
  .main__cards-card {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    max-height: 610px;
    padding: 5px 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__cards-card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 11px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
  .main__cards-card h3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .main__cards-card h4 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .main__cards-card h5 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .main__cards-card-btns {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .main__cards-card-btns button:first-child {
    padding: 12.5px 67.5px;
    font-size: 12px;
    font-weight: 700;
  }
  .main__cards-card-btns button:last-child {
    padding: 12.5px 91.5px;
    font-size: 12px;
    font-weight: 700;
  }
  .main__cards-card-list {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
    margin-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 65px;
    gap: 14px;
    margin-bottom: 21px;
  }
  .main__cards-card-list-info {
    font-size: 9px;
    font-weight: 400;
    gap: 7px;
  }
  .main__cards-card-list-info-img {
    width: 24px;
    height: 24px;
  }
  .main__cards-card-list-info-img1 {
    background: url("/img/thirdResol/list1.png") no-repeat;
  }
  .main__cards-card-list-info-img2 {
    background: url("/img/thirdResol/list2.png") no-repeat;
  }
  .main__cards-card-list-info-img3 {
    background: url("/img/thirdResol/list3.png") no-repeat;
  }
  .main__cards-card-list-info-img4 {
    background: url("/img/thirdResol/list4.png") no-repeat;
  }
  .main__cards-card-list1 p {
    margin-top: 1px;
    max-width: 95px;
  }
  .main__cards-card-list2 p {
    margin-top: 1px;
    max-width: 95px;
  }
  .main__cards-card-list3 p {
    margin-top: 1px;
    max-width: 95px;
  }
  .main__cards-card-list4 p {
    margin-top: 1px;
    max-width: 80px;
  }
  .main__cards-card-car {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 257px;
    height: 150px;
    background: url("/img/thirdResol/maneCar.png") no-repeat;
    margin-left: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .main__cards-card-colors {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }
  .main__cards-card-colors-info {
    width: 20px;
    height: 20px;
  }
  .main__cards-card-mini {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 0;
    gap: 16px;
    margin-bottom: 16px;
  }
  .main__cards-card-mini-img {
    width: 62px;
    height: 39px;
  }
  .main__cards-card-mini-1 {
    background: url("/img/thirdResol/miniCar1.png") no-repeat;
  }
  .main__cards-card-mini-2 {
    background: url("/img/thirdResol/miniCar2.png") no-repeat;
  }
  .main__cards-card-mini-3 {
    background: url("/img/thirdResol/miniCar3.png") no-repeat;
  }
  .main__cards-card-mini-4 {
    background: url("/img/thirdResol/miniCar4.png") no-repeat;
  }
  .main__cards-card-bg {
    width: 320px;
    height: 186.977px;
    background: url("/img/thirdResol/carBg.png") no-repeat;
    top: 0;
    left: 0;
  }
}